$purple: #4A3764;
$dark-purple: #3C1C74;
$blue: #6150C1;
$light-blue: #51C4E9;
$green: #17B3C1;
$white: white;
$light-gray: #fafafa;
$medium-gray: #e8e8e8;
$gray: #b4b4b4;
$dark-gray: #555555;
$black: #111111;
$hot-pink: #E24AA3;