@font-face {
  font-family: "caSansRegular";
  src: url("../fonts/ca-sans-regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "caSansBold";
  src: url("../fonts/ca-sans-bold.ttf");
  font-weight: 700;
}