.footer{
  background-color: #222222;
  color: #FFF;
  padding: 1em 2em;

  span{
    /* display: block; */
    margin: 0;

    a{
      color: $white;
      text-decoration: none;
    }
  }

  .privacy,.legal, .data_transfers{
    padding-left: 15px;
  }
  .footerlinks {
    float:right;
  }
    
}