.mainContainer{
  background-image: linear-gradient(to bottom, white, transparent 240px, transparent), repeating-linear-gradient(29deg, transparent, transparent 23px , transparent 23px, rgba(225,225,225,.6) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px , transparent 23px, rgba(225,225,225,.6) 25px);
}

.landing-section{
  z-index: 1;
  .inner-section{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.intro{
margin-top: 6em;
padding: 3em 0 300px;
background-image: linear-gradient(to bottom, transparent 80%, #4A3764),repeating-linear-gradient(29deg, transparent, transparent 23px , transparent 23px, rgba(72,243,219,.1) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px , transparent 23px, rgba(72,435,195,.1) 25px),linear-gradient(to top, #4A3764, #6150C1);
color: $white;
  .intro__logo{
    width: 100%;
    padding: 4em 0 0;

    img{
      display: block;
      max-width: 175px;
      margin: 0 auto;
    }
  }
  .intro__title{
   text-align: center;
  }
  .intro__tagline{
    text-align: center;
  }
}


.sub-intro {
  padding: 10em 0 13em;
  text-align: center;
  background-color: #4A3764;
  color: $white;
}

.build, .bake, .test, .deploy{
  padding: 200px 0 0;

  .inner-section{
    display: flex;

    .section__text{
      display: block;
      flex: 5;
    }

    .section__image{
      flex: 5;

        img{
          display: block;
          margin: 0 auto;
        }
    }
  }
}

.bake, .deploy{
  .inner-section{
    flex-direction: row-reverse;
  }
}



.collectEmail{
  width: 100%;
  padding: 2em 0;

  .collectEmail__container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    input{

      display: inline-block;
      width: 75%;
    }
    button{
      display: inline-block;
      width: 20%;

    }
    p{
      text-align: center;
    }
  }
}