.mainContainer{
  /* background-image: linear-gradient(to bottom, white, transparent 240px, transparent), repeating-linear-gradient(29deg, transparent, transparent 23px , transparent 23px, rgba(225,225,225,.6) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px , transparent 23px, rgba(225,225,225,.6) 25px); */
    background-color: $black;
}

.landing-section{
  z-index: 1;
  .inner-section{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.intro{
    margin-top: 5.8em;
    padding: 4em 2em 200px;

    /*
background-image: linear-gradient(to bottom, transparent 80%, $purple),repeating-linear-gradient(29deg, transparent, transparent 23px , transparent 23px, rgba(72,243,219,.1) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px , transparent 23px, rgba(72,435,195,.1) 25px),linear-gradient(to top, $purple, $blue); */
    background-color: #1a022b;
    background-image: url("../img/week3_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    
    .intro__logo{
        width: 100%;
        padding: 4em 0 0;

        img{
            display: block;
            max-width: 175px;
            margin: 0 auto;
        }
    }
    .intro__title{
        text-align: center;
    }
    .intro__tagline{
        text-align: center;
    }

    @include medium(){
        margin-top: 4.5em;
        padding-bottom: 200px;
        .intro__tagline{
            font-size: 1.999em;
                padding: 1em 2em;
        }
    }

    @include small(){
        margin-top: 2.5em;
        padding-bottom: 100px;

        .intro__tagline{
            font-size: 1.999em;
            padding: 1em;
         }
    }
}

.sub-tagline {
    background-image: linear-gradient(to left, #240754, $black);
    color:white;
    padding: 150px 0;
}

.marketing {
    color: $white;
    background-image: linear-gradient(to right, #240754, transparent 220%),url("../img/integrations2.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position:right;
    padding:4em 0;

    .centerblock {
        margin:auto;
        max-width:1000px;
        font-size:1.5em;
        text-align: center;
    }


}

.details_blockholder {
    margin-top: 4em;
    margin-bottom: 4em;
}

.details_block {
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: center;
    /* flex-flow: row wrap; */
    max-width: 1000px;
    text-align:left;
    margin-top:1em;
    margin-bottom:1em;
    
    h2,h3,h4 {
        color:$white;
    }

    .details_image{
        padding:0 1em;
        flex: 1;
    }
    .details_text{
        padding:0 1em;
        flex-grow: 3;
    }

    @include medium(){
        flex-direction: column;
        .details_image{
            padding: 3em 2em;
        }

        .details_text{
            padding: 3em 1em;
        }
    }

    @include small(){
        flex-direction: column;
        .details_image{
            padding: 3em 2em;
        }

        .details_text{
            padding: 3em 1em;
        }
    }
}

.collectEmail{
  width: 100%;
  padding: 2em 0;
  background-color: $purple;
  color: $white;

  background-image: linear-gradient(to bottom, transparent 80%, #240754),repeating-linear-gradient(29deg, transparent, transparent 23px , transparent 23px, rgba(72,243,219,.1) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px , transparent 23px, rgba(72,435,195,.1) 25px);

  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);

  .collectEmail__container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 0 4em 0;

    h4{
      color: $light-gray;
      text-align: center;
    }

    .email__field{
      display: flex;

      .email{
        flex: 1;
        color: $dark-gray;
        margin-right: auto;
        font-size: 1.999em;
        padding-left: .5em;

        &::-webkit-input-placeholder{
          color: $gray;
        }
        &:-ms-input-placeholder{
          color: $gray;
        }
        &::-moz-placeholder{
            color: $gray;
        }
        &:-moz-placeholder{
          color: $gray;
        }
      }
      .submit{
        color: $white;
        border: none;
//        border-radius: 0 4px 4px 0;
        border-radius: 4px;
        background-color: $green;
//        padding: 0 .5em;
        padding: .5em 3em;

        //remove for full email field
        margin: 1em auto;

        button{
          background-color: transparent;
          color: $white;
          border:none;
        }
      }

    }
  }
  @include medium(){

    .collectEmail__container{
      .email__field{
        flex-direction: column;

        .email{
          min-width: 75%;
          margin: 0 auto;
          font-size: 1.414em;
        }

        .submit{
          margin: 1.5em auto 0;
//          padding: .75em;
          padding: 1em 3em;
          border-radius: 4px;
        }
      }
      h4{
        padding: 0 1.5em;
        margin-top: 1em;
      }
    }

  }

  @include small(){

    .collectEmail__container{
      .email__field{
        flex-direction: column;

        .email{
          min-width: 75%;
          margin: 0 auto;
          font-size: 1.414em;
        }

        .submit{
          margin: 1.5em auto 0;
//          padding: .75em;
          padding: 1em 3em;
          border-radius: 4px;
        }
      }
      h4{
        padding: 0 1.5em;
        margin-top: 1em;
      }
    }

  }


}