@font-face {
  font-family: "caSansRegular";
  src: url("../fonts/ca-sans-regular.ttf");
  font-weight: 300; }
@font-face {
  font-family: "caSansBold";
  src: url("../fonts/ca-sans-bold.ttf");
  font-weight: 700; }
p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9001;
  opacity: .98;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .header .header__container {
    width: 100%;
    max-width: 1280px;
    padding: 1em 0 .8em;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .header .header__container .logo {
      height: 64px;
      margin-left: 2em; }
      .header .header__container .logo img {
        height: 100%;
        display: inline-block;
        margin: auto; }
      @media screen and (max-width: 900px) {
        .header .header__container .logo {
          height: 45px;
          margin-left: 1.5em; } }
      @media screen and (max-width: 600px) {
        .header .header__container .logo {
          height: 35px;
          margin-left: 1.5em; } }
    .header .header__container .title h4 {
      margin: 0 0 0 .75em; }
    .header .header__container .links {
      flex: 1;
      float: right;
      display: flex;
      justify-content: flex-end; }
      .header .header__container .links .links__list {
        display: inline-block;
        list-style: none;
        margin: 0; }
        .header .header__container .links .links__list a {
          text-decoration: none;
          color: #222222; }
        .header .header__container .links .links__list .links__list__item {
          display: inline-block;
          margin: 0 1.5em;
          cursor: pointer;
          padding: .5em .5em; }
          .header .header__container .links .links__list .links__list__item.selected {
            border-bottom: 5px solid #4A3764; }
          .header .header__container .links .links__list .links__list__item.contact {
            color: white;
            border: none;
            border-radius: 4px;
            background-color: #17B3C1;
            padding: .25em .75em; }
      @media screen and (max-width: 900px) {
        .header .header__container .links {
          display: flex;
          justify-content: flex-end; } }
    .header .header__container .menu {
      height: 35px;
      flex: 1;
      display: flex;
      justify-content: flex-end; }
      .header .header__container .menu img {
        height: 100%; }
      @media screen and (min-width: 600px) {
        .header .header__container .menu {
          display: none; } }
      @media screen and (max-width: 600px) {
        .header .header__container .menu {
          margin-right: 1.5em; } }
  .header .menu__links {
    display: none;
    background-color: white; }
    .header .menu__links.open {
      display: block; }
    .header .menu__links .links__list {
      display: block;
      list-style: none;
      padding-left: 0;
      margin: 0; }
      .header .menu__links .links__list a {
        text-decoration: none;
        text-align: right;
        color: #222222;
        border-width: 1px;
        border-style: solid none solid none;
        border-color: #d3d3d3; }
      .header .menu__links .links__list .links__list__item {
        display: block;
        cursor: pointer;
        padding: .5em 1.5em; }
        .header .menu__links .links__list .links__list__item.selected {
          background-color: #4A3764;
          color: white; }
    @media screen and (min-width: 600px) {
      .header .menu__links {
        display: none; } }
  @media screen and (max-width: 600px) {
    .header {
      padding: 0; } }

.footer {
  background-color: #222222;
  color: #FFF;
  padding: 1em 2em; }
  .footer span {
    /* display: block; */
    margin: 0; }
    .footer span a {
      color: white;
      text-decoration: none; }
  .footer .privacy, .footer .legal, .footer .data_transfers {
    padding-left: 15px; }
  .footer .footerlinks {
    float: right; }

.mainContainer {
  background-image: linear-gradient(to bottom, white, transparent 240px, transparent), repeating-linear-gradient(29deg, transparent, transparent 23px, transparent 23px, rgba(225, 225, 225, 0.6) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px, transparent 23px, rgba(225, 225, 225, 0.6) 25px); }

.landing-section {
  z-index: 1; }
  .landing-section .inner-section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }

.intro {
  margin-top: 6.5em;
  padding: 6em 2em 200px;
  background-image: linear-gradient(to bottom, transparent 80%, #4A3764), repeating-linear-gradient(29deg, transparent, transparent 23px, transparent 23px, rgba(72, 243, 219, 0.1) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px, transparent 23px, rgba(72, 255, 195, 0.1) 25px), linear-gradient(to top, #4A3764, #6150C1);
  color: white; }
  .intro .intro__logo {
    width: 100%;
    padding: 4em 0 0; }
    .intro .intro__logo img {
      display: block;
      max-width: 175px;
      margin: 0 auto; }
  .intro .intro__title {
    text-align: center; }
  .intro .intro__tagline {
    text-align: center; }
  @media screen and (max-width: 900px) {
    .intro {
      margin-top: 4.5em;
      padding-bottom: 200px; }
      .intro .intro__tagline {
        font-size: 1.999em;
        padding: 1em 2em; } }
  @media screen and (max-width: 600px) {
    .intro {
      margin-top: 2.5em;
      padding-bottom: 100px; }
      .intro .intro__tagline {
        font-size: 1.999em;
        padding: 1em; } }

.build, .bake, .test, .deploy {
  padding: 200px 0 0; }
  .build .inner-section, .bake .inner-section, .test .inner-section, .deploy .inner-section {
    display: flex; }
    .build .inner-section .section__text, .bake .inner-section .section__text, .test .inner-section .section__text, .deploy .inner-section .section__text {
      display: block;
      flex: 5; }
    .build .inner-section .section__image, .bake .inner-section .section__image, .test .inner-section .section__image, .deploy .inner-section .section__image {
      flex: 5; }
      .build .inner-section .section__image img, .bake .inner-section .section__image img, .test .inner-section .section__image img, .deploy .inner-section .section__image img {
        display: block;
        margin: 0 auto; }

.bake .inner-section, .deploy .inner-section {
  flex-direction: row-reverse; }

.marketing {
  background-color: #6150C1;
  color: white;
  display: flex; }
  .marketing .marketing__list {
    list-style: none; }
  .marketing .left {
    flex: 1;
    padding: 6em 4em; }
  .marketing .right {
    flex: 1;
    background-image: linear-gradient(to right, #6150C1, transparent 110%), url("../img/integrations2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }
    .marketing .right h2 {
      flex: 1;
      margin-right: 5em; }
  @media screen and (max-width: 900px) {
    .marketing {
      flex-direction: column; }
      .marketing .left {
        padding: 3em 2em; }
      .marketing .right {
        background-image: linear-gradient(to bottom, #6150C1, transparent 130%), url("../img/integrations2.png"); }
        .marketing .right h2 {
          margin: 0;
          padding: 3em 1em;
          text-align: center; } }
  @media screen and (max-width: 600px) {
    .marketing {
      flex-direction: column; }
      .marketing .left {
        padding: 3em 2em; }
      .marketing .right {
        background-image: linear-gradient(to bottom, #6150C1, transparent 130%), url("../img/integrations2.png"); }
        .marketing .right h2 {
          margin: 0;
          padding: 3em 1em;
          text-align: center; } }

.collectEmail {
  width: 100%;
  padding: 2em 0;
  background-color: #4A3764;
  color: white;
  background-image: linear-gradient(to bottom, transparent 80%, #4A3764), repeating-linear-gradient(29deg, transparent, transparent 23px, transparent 23px, rgba(72, 243, 219, 0.1) 25px), repeating-linear-gradient(-29deg, transparent, transparent 23px, transparent 23px, rgba(72, 255, 195, 0.1) 25px);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .collectEmail .collectEmail__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 8em 0; }
    .collectEmail .collectEmail__container h4 {
      color: #fafafa;
      text-align: center; }
    .collectEmail .collectEmail__container .email__field {
      display: flex; }
      .collectEmail .collectEmail__container .email__field .email {
        flex: 1;
        color: #555555;
        margin-right: auto;
        font-size: 1.999em;
        padding-left: .5em; }
        .collectEmail .collectEmail__container .email__field .email::-webkit-input-placeholder {
          color: #b4b4b4; }
        .collectEmail .collectEmail__container .email__field .email:-ms-input-placeholder {
          color: #b4b4b4; }
        .collectEmail .collectEmail__container .email__field .email::-moz-placeholder {
          color: #b4b4b4; }
        .collectEmail .collectEmail__container .email__field .email:-moz-placeholder {
          color: #b4b4b4; }
      .collectEmail .collectEmail__container .email__field .submit {
        color: white;
        border: none;
        border-radius: 4px;
        background-color: #17B3C1;
        padding: .5em 3em;
        margin: 1em auto; }
        .collectEmail .collectEmail__container .email__field .submit button {
          background-color: transparent;
          color: white;
          border: none; }
  @media screen and (max-width: 900px) {
    .collectEmail .collectEmail__container .email__field {
      flex-direction: column; }
      .collectEmail .collectEmail__container .email__field .email {
        min-width: 75%;
        margin: 0 auto;
        font-size: 1.414em; }
      .collectEmail .collectEmail__container .email__field .submit {
        margin: 1.5em auto 0;
        padding: 1em 3em;
        border-radius: 4px; }
    .collectEmail .collectEmail__container h4 {
      padding: 0 1.5em;
      margin-top: 1em; } }
  @media screen and (max-width: 600px) {
    .collectEmail .collectEmail__container .email__field {
      flex-direction: column; }
      .collectEmail .collectEmail__container .email__field .email {
        min-width: 75%;
        margin: 0 auto;
        font-size: 1.414em; }
      .collectEmail .collectEmail__container .email__field .submit {
        margin: 1.5em auto 0;
        padding: 1em 3em;
        border-radius: 4px; }
    .collectEmail .collectEmail__container h4 {
      padding: 0 1.5em;
      margin-top: 1em; } }

.bloglist-body {
  background: #fafafa; }
  .bloglist-body .blogs-page-header {
    padding: 10px; }
  .bloglist-body .blog-list .blog-card {
    box-shadow: 0 0.3em 1em -0.4em rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 400px;
    margin: 10px;
    height: 300px;
    overflow: hidden;
    background: #fff; }
    .bloglist-body .blog-list .blog-card form {
      width: 100%;
      height: 100%; }
    .bloglist-body .blog-list .blog-card .blog-featureimg {
      width: 100%;
      height: 50%;
      overflow: hidden;
      position: relative; }
      .bloglist-body .blog-list .blog-card .blog-featureimg img {
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
    .bloglist-body .blog-list .blog-card .content-wrapper {
      width: 100%;
      height: 50%;
      padding: 10px;
      box-sizing: border-box; }
      .bloglist-body .blog-list .blog-card .content-wrapper .blog-title {
        height: 25%;
        line-height: 100%;
        font-size: 32px;
        font-weight: bold;
        background: 0;
        padding: 0;
        border: 0;
        cursor: pointer; }
      .bloglist-body .blog-list .blog-card .content-wrapper .create-wrapper {
        height: 25%;
        width: 100%;
        font-size: 18px; }
        .bloglist-body .blog-list .blog-card .content-wrapper .create-wrapper .blog-author {
          display: inline-block;
          width: 50%; }
        .bloglist-body .blog-list .blog-card .content-wrapper .create-wrapper .blog-date {
          display: inline-block;
          width: 50%;
          text-align: right; }
      .bloglist-body .blog-list .blog-card .content-wrapper .blog-desc {
        width: 100%;
        height: 50%;
        text-overflow: ellipsis; }

.blog-body {
  background: #fafafa; }
  .blog-body .blog-content-wrapper {
    width: 100%;
    height: 100%; }
    .blog-body .blog-content-wrapper .blog-content {
      width: 80%;
      margin: 0 auto;
      background: white;
      box-shadow: 0 0.3em 1em -0.4em rgba(0, 0, 0, 0.2); }
      .blog-body .blog-content-wrapper .blog-content #image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative; }
        .blog-body .blog-content-wrapper .blog-content #image img {
          position: absolute;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%); }
      .blog-body .blog-content-wrapper .blog-content .text-wrapper .metadata {
        background: #eee;
        padding: 10px; }
        .blog-body .blog-content-wrapper .blog-content .text-wrapper .metadata #title {
          font-size: 72px; }
        .blog-body .blog-content-wrapper .blog-content .text-wrapper .metadata #desc {
          font-size: 30px; }
        .blog-body .blog-content-wrapper .blog-content .text-wrapper .metadata .create-info {
          font-size: 20px; }
      .blog-body .blog-content-wrapper .blog-content #post {
        padding: 10px; }

html {
  font-size: 1em;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: caSansRegular, sans-serif; }

/*# sourceMappingURL=all.css.map */
